DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=fpt_school

PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=8h

CLOUDINARY_CLOUD_NAME=rkycgcti
CLOUDINARY_API_KEY=537727187737275
CLOUDINARY_API_SECRET=9cywvpRaI-z7xBDlckBLXnH04gQ
CLOUDINARY_FOLDER=fpt-school

SCHOOL_BANK_BIN=970423
SCHOOL_BANK_ACCOUNT_NO=58622328888